node_modules/
client/node_modules/
server/node_modules/

.env
.env.*
client/.env
server/.env

dist/
client/dist/
server/dist/
.nuxt/

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
